.nav {
  padding: 0 1em;
  &__logo {
    grid-column: 1/5;
    border-bottom: 2px solid $secondary-color;
    padding-bottom: 8px;
  }

  &__links {
    grid-column: 5/9;

    display: none;
    align-items: center;
    justify-content: flex-end;

    li {
      margin-left: 10px;
    }
  }
}
