.showcase {
  padding: $mobile-padding;

  &__text {
    grid-column: 1/5;
  }

  &__image {
    grid-column: 6/9;

    img {
      width: 200%;
    }
  }
}

@media screen and (min-width: $tablet-size) {
  .showcase {
    margin: 3em 0;
    padding: $tablet-padding;

    &__image {
      img {
        width: 100%;
      }
    }
  }
}
