.showcase {
  &__text {
    grid-column: 1/5;
  }

  &__image {
    grid-column: 6/9;

    img {
      width: 200%;
    }
  }
}

@media screen and (min-width: $tablet-size) {
  .showcase {
    margin: 3em 0;

    &__image {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $desktop-size) {
  .showcase {
    &__text {
      @include alignCenter;
      align-items: start;
      text-align: left;

      .btn {
        margin-top: 1.5em;
      }
    }
  }
}
