.skills {
  h4 {
    text-align: center;
  }

  ul {
    gap: 1em;
    text-align: center;

    li {
      @include alignCenter;

      text-align: center;
      background: $primary-dark-color;
      padding: 1.3em 0;
      grid-column: span 4;

      img {
        width: 50%;
      }
    }
  }

  p {
    margin-top: 2em;
    text-align: center;
  }
}

@media screen and (min-width: $tablet-size) {
  .skills {
    padding: $tablet-padding;

    ul {
      li {
        grid-column: span 3;
      }

      li:nth-child(1) {
        grid-column: 2 / span 3;
      }
      li:nth-child(3) {
        grid-column: 2 / span 3;
        grid-row: 2;
      }
    }
  }
}
