$primary-color: #0b025f;
$secondary-color: #ffaa00;
$primary-dark-color: #14153d;

// Responsive Screen Size
$tablet-size: 640px;
$desktop-size: 950px;

$mobile-padding: 0 1.5em;
$tablet-padding: 0 2.3em;
